<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="httppPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
      </handlers>
      <httpPlatform processPath=".\r-ticket.exe" 
          startupTimeLimit="20"
          startupRetryCount="10"
          stdoutLogEnabled="true">
      </httpPlatform>
    </system.webServer>
  </location>
</configuration>